.search-form-wrapper {
    display: flex;
    flex-direction: row;
    padding: 40px;
}

.search-input-wrapper {
    flex-grow: 1;
    margin: 0;
}
.search-button {
    height: fit-content;
    align-self: flex-end;
}

.flex-center {
    display: flex;
    justify-content: center;
}